@model NewRole.Models.DataBind.Depertment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var listTblUserRole = (List<NewRole.Models.DataBind.TblUserRole>)Session["TblUserRoles"];
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DepertmentName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepertmentName)
        </dd>

    </dl>
</div>
<p>
    @if (listTblUserRole.Where(o => o.PageName == "Depertment" && o.IsUpdate == true).FirstOrDefault() != null)
    {
        <a href="/Depertments/Edit?id=@Model.DepertmentId">Edit</a>
    }
    |
    @Html.ActionLink("Back to List", "Index")
</p>
